{%block content%}


    <section class="section card">
        <h1 class="section-heading text-center mb-5 mt-5 ">All Images</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                <div id="mdb-lightbox-ui">
                    <div class="mdb-lightbox">
                        {%for img in images%}
                        <figure class="col-md-4">
                            <div class="list-group-item card my-2"><img src="{{img.image.url}}" alt="{{img.name}}"
                                style="min-height: 300px; max-height: 300px; max-width: 420px; min-width: 400px;">
                            </div>
                        </figure> 
                    
                        {%endfor%}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>



{%endblock%}
