{%extends 'all-photos/base.html'%}
{% block content %}
{{ block.super}}

<div class="container">

    <!-- Looping through photos   -->
    {% for photos_item in photos %}
     <div class="row">
         <!-- displaying Photos articles -->
         <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
             
             
         </div> -->
         
         <!--Display photos Article images  -->
         <div class="card-deck">
         <div class="card">
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
             <h2 class="text-center"> {{ photos_item.title }} </h2>
             <img src="{{photos_item.article_image.url}}" class="img-responsive" alt="Image">
             <p>{{photos_item.post}}</p>
             <div class="card" style="width: 18rem;">
                 <div class="card-body">
                     <!-- <h5 class="card-title">Card title</h5>
                 <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                     <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                     card's content.</p> -->
                     <a href="#" class="card-link">Card link</a>
                     <a href="#" class="card-link">Another link</a>
                 </div>
             </div>
         </div>

         </div>

    {% empty %}
    <div class="row">
        <h2 class="text-center">Welcome to Personal Gallery App</h2>
        <a href="{% url 'gallery' %}"><button class="btn btn-outline-dark copy-btn"
            style="margin-left:540px; color: orangered;">Click to
            View</button> </a>
    </div>
    {% endfor %}

</div>

{% endblock %}