h1 {
    color: orangered;
}

h2 {
   color: burlywood;
}

a {
    color: blue;
}

p {
    color: greenyellow;
}

body {
    
   background-image: url(
       'https://images.unsplash.com/photo-1541746951956-4f27df54f02b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NDgxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60'
   );
   background-repeat: no-repeat;
   background-size: cover;
}

.all-images{
    display :table-row;
    color :whitesmoke
}


